<%= form_for(@session) do |f| %>
  <div class="field">
    <br/>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <br/>
    <%= f.password_field :senha %>
  </div>

  <div class="entrar">
    <%= f.submit 'Login' %>
  </div>
<% end %>
