<div style="margin-left:40%;">

<img src="/assets/shared/skynetlogo.png" border=0 style="margin-left:-130px;margin-bottom:40px;" />
<h1 style="margin-left:55px;">Login</h1>



<div class="page-form">
<%= flash[:notice] %>
<%= render 'form' %>
</div>

</div>