commit 074204b77ee802175ffaa8d5d96564c87d03b94d
Author: Joao <jony_ellery@hotmail.com>
Date:   Thu Nov 22 17:54:27 2012 -0300

    telas de show e editar completas

diff --git a/app/assets/stylesheets/scaffolds.css.scss b/app/assets/stylesheets/scaffolds.css.scss
index 0d72bfa..16450a5 100644
--- a/app/assets/stylesheets/scaffolds.css.scss
+++ b/app/assets/stylesheets/scaffolds.css.scss
@@ -31,7 +31,7 @@ a {
     color: #666;
 	 }
   &:hover {
-    color: #fff;
+    color: #000;
     
 	 } }
 
@@ -46,6 +46,7 @@ div {
 float:left;
 display:block;
 width:400px;
+margin-left:-100px;
 overflow:hidden;
 padding-bottom:100px;
 }
@@ -53,6 +54,7 @@ padding-bottom:100px;
 float:left;
 display:block;
 width:400px;
+
 overflow:hidden;
 padding-bottom:100px;
 margin-left:20px;
diff --git a/app/assets/stylesheets/screen.css b/app/assets/stylesheets/screen.css
index 13d3380..aa4d463 100644
--- a/app/assets/stylesheets/screen.css
+++ b/app/assets/stylesheets/screen.css
@@ -12,6 +12,7 @@
 .label_categoria{float: left;margin-bottom:15px;margin-left:15px;font-weight: bold; color:#8DC63F;
 	
 	}
+.label_descricao{float: left;margin-left:15px}
 .label_header{height:140px;}
 .image_conteudo_thumb{
 	float: left;
diff --git a/app/views/conteudos/_form.html.erb b/app/views/conteudos/_form.html.erb
index 24330e9..c29e4a1 100644
--- a/app/views/conteudos/_form.html.erb
+++ b/app/views/conteudos/_form.html.erb
@@ -12,13 +12,17 @@
 </p>
 <% end %>
 
+<div style="height: 30px;" >
+
 <% unless @conteudo.children.empty? %>
-<p>Conteudos</p>
+
+<div style="float:left;">Conteudos</div>
 <ul>
   <% @conteudo.children.reverse.each do |conteudo| %>
-    <p><%= link_to conteudo.titulo, [@empresa,conteudo] %><p>
+    <div style="float:left;margin-left:10px;"> >> <%= link_to conteudo.titulo, [@empresa,conteudo] %></div>
   <% end %>
 </ul>
+</div>
 <% end %>
 
 
@@ -40,7 +44,11 @@
   <%= f.hidden_field :latitude %>
   <%= f.hidden_field :longitude %>
 
+<div style="padding-bottom:20px;width:200px;">
 
+<%= link_to 'Ver', [@empresa,@conteudo] %> |
+<%= link_to 'Voltar', empresa_conteudos_path(@empresa) %>
+</div>
 
 
 	<div class="caixaesquerda">
diff --git a/app/views/conteudos/edit.html.erb b/app/views/conteudos/edit.html.erb
index 774d999..2b12f06 100644
--- a/app/views/conteudos/edit.html.erb
+++ b/app/views/conteudos/edit.html.erb
@@ -1,14 +1,11 @@
 <h1 style="margin-left:40%;margin-bottom:50px;">Editar conteudo</h1>
+
+
+
 <div style="padding: 10px;
 margin-left: 25%;
-border: 1px solid;
-width: 570px;
+
+width: 800px;
 margin-bottom: 30px;">
 <%= render 'form' %>
-
-<div  class="page-footer" style="padding:20px;width:200px;">
-
-<%= link_to 'Ver', [@empresa,@conteudo] %> |
-<%= link_to 'Voltar', empresa_conteudos_path(@empresa) %>
-</div>
 </div>
diff --git a/app/views/conteudos/show.html.erb b/app/views/conteudos/show.html.erb
index d1c95c1..80096ae 100644
--- a/app/views/conteudos/show.html.erb
+++ b/app/views/conteudos/show.html.erb
@@ -2,7 +2,7 @@
 
 <div style="padding: 10px;
 margin-left: 25%;
-width: 100%;
+width: 800px;
 margin-bottom: 30px;">
 
 
@@ -17,16 +17,21 @@ margin-bottom: 30px;">
 <% end %>
 
 <% unless @conteudo.children.empty? %>
+
+<div style="height: 30px;" >
+
 <div style="float:left;">Conteudos</div>
 <ul>
   <% @conteudo.children.reverse.each do |conteudo| %>
     <div style="float:left;margin-left:10px;"> >> <%= link_to conteudo.titulo, [@empresa,conteudo] %></div>
   <% end %>
 </ul>
+</div>
 <% end %>
 
 
-<div style="width:400px;display:block;">
+
+<div style="padding-bottom:20px;">
 <%= link_to 'Voltar', empresa_conteudos_path(@empresa) %> |
 <%= link_to image_tag("/assets/shared/editar.png", :border=>0), edit_empresa_conteudo_path(@empresa, @conteudo) %>
 </div>
@@ -60,14 +65,12 @@ margin-bottom: 30px;">
 <p>
   <br/><br/>
    <h1>Imagens:</h1><br/>
-  <b>Original:</b><br/>
-  <%= image_tag @conteudo.imagem.url %><br/>
+  
   <b>Médio:</b><br/>
   <%= image_tag @conteudo.imagem.url(:medium) %><br/>
   <b>Thumb:</b><br/>
   <%= image_tag @conteudo.imagem(:thumb) %><br/>
-  <b>Large:</b><br/>
-  <%= image_tag @conteudo.imagem(:large) %><br/>
+  
   <b>Icone:</b><br/>
   <%= image_tag @conteudo.imagem(:icon) %><br/>
 </p>
@@ -108,14 +111,10 @@ margin-bottom: 30px;">
 <p>
   <br/>
   <h1>Celula imagens:</h1><br/>
-  <b>Original:</b><br/>
-  <%= image_tag @conteudo.row_imagem.url %><br/>
   <b>Médio:</b><br/>
   <%= image_tag @conteudo.row_imagem.url(:medium) %><br/>
   <b>Thumb:</b><br/>
   <%= image_tag @conteudo.row_imagem(:thumb) %><br/>
-  <b>Large:</b><br/>
-  <%= image_tag @conteudo.row_imagem(:large) %><br/>
 </p>
 </div>
 
