

<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyAcEzpDs5fpjWQPAOSqaWsR2mhn6Svu_S0&sensor=true"></script> 
<%= javascript_include_tag "application" %>
<%= javascript_include_tag "conteudos" %>
<%= stylesheet_link_tag 'widgEditor' %>
<%= javascript_include_tag "widgEditor" %>

<% unless @conteudo.ancestors.empty? %>
<p>
<% @conteudo.ancestors.reverse.each do |conteudo| %>
  <%= link_to conteudo.titulo, [@empresa,conteudo] %> &gt;
<% end %>
</p>
<% end %>

<div style="height: 30px;" >

<% unless @conteudo.children.empty? %>

<div style="float:left;">Conteudos</div>
<ul>
  <% @conteudo.children.reverse.each do |conteudo| %>
    <div style="float:left;margin-left:10px;"> >> <%= link_to conteudo.titulo, [@empresa,conteudo] %></div>
  <% end %>
</ul>
</div>
<% end %>


<%= form_for([@empresa, @conteudo], :html => { :multipart => true }) do |f| %>
  <% if @conteudo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conteudo.errors.count, "error") %> Erro ao salvar:</h2>

      <ul>
      <% @conteudo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :parent_id %>
  <%= f.hidden_field :empresa_id %>
  <%= f.hidden_field :latitude %>
  <%= f.hidden_field :longitude %>

<div style="padding-bottom:20px;width:200px;">

<%= link_to 'Ver', [@empresa,@conteudo] %> |
<%= link_to 'Voltar', empresa_conteudos_path(@empresa) %>
</div>


	<div class="caixaesquerda">
  <div class="field">
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo %>
  </div>
   <div class="field">
    <%= f.label :subtitulo %><br />
    <%= f.text_field :subtitulo %>
  </div>
  <div class="field">
    <%= f.label :ativo %><br />
    <%= f.check_box :ativo %>
  </div>
  <div class="field">
    <%= f.label :social %><br />
    <%= f.check_box :social %>
  </div>
  <div class="field">
    <%= f.label :destaque %><br />
    <%= f.check_box :destaque %>
  </div>
 
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :categoria %><br />
    <%= f.select :categoria, [['Galeria', 'galeria'], ['Imagem','imagem'], ['Menu','menu'], ['Lista', 'lista'], ['Localização', 'localzicacao'], ['Mapa', 'mapa'], ['Notícia', 'noticia'], ['Notícias', 'noticias'], ['Contato', 'contato'] , ['Videos', 'videos'], ['Web', 'web'], ['Social', 'social']] %>
  </div>
  </div>
  
  <div class="caixadireita">
  <div class="field">
    <%= f.label :descricao %><br />
    <%= f.text_area :descricao, :cols => "50", :rows=>"3", :class=>"widgEditor" %>
  </div>
  
  <div class="field">
    <%= f.label :imagem %><br />
    <%= f.file_field :imagem %>
  </div>

  <div class="field">
    <%= f.label :row_imagem %><br />
    <%= f.file_field :row_imagem %>
  </div>

  <%if @empresa.conteudos %>
	<div class="field">
	   <%= f.label :parent_id %><br />
	   <%= f.select :parent_id, @empresa.conteudos.map{ |c| [c.titulo, c.id] },:include_blank => true %>
	</div>
	
  <% end %>
  <div class="field">
    <label for="locationTypeCheckbox">Local</label>
    <input id="locationTypeCheckbox" type="checkbox" value="false"/>
  </div>
	<div id="containerLocation">
		<div class="field">
		    <%= f.label :endereco %><br />
		    <%= f.text_field :endereco %>
		</div>
		<input type="button" id="geocodingButton" value="Geolocalizar">
		<div id="map"> 
		   <div id="map_canvas" style="width:100%; height:400px"></div>
		</div>
	</div>
  <div class="actions">
    <%= f.submit %>
  </div>
   </div>
   
<% end %>

