<div style="padding:0px">

<h1 style="margin-left:40%;margin-bottom:50px;">Novo conteudo</h1>

<div style="padding: 10px;
margin-left: 25%;
width: 870px;
margin-bottom: 1400px;">
<%= render 'form' %>
</div>



</div>