<h1 style="margin-left:40%;margin-bottom:50px;">Novo conteudo</h1>

<div style="padding: 10px;
margin-left: 25%;
width: 800px;
margin-bottom: 30px;">


<p id="notice"><%= notice %></p>

<% unless @conteudo.ancestors.empty? %>
<p>
<% @conteudo.ancestors.reverse.each do |conteudo| %>
  <%= link_to conteudo.titulo, [@empresa,conteudo] %> &gt;
<% end %>
</p>
<% end %>

<% unless @conteudo.children.empty? %>

<div style="height: 30px;" >

<div style="float:left;">Conteúdos</div>
<ul>
  <% @conteudo.children.reverse.each do |conteudo| %>
    <div style="float:left;margin-left:10px;"> >> <%= link_to conteudo.titulo, [@empresa,conteudo] %></div>
  <% end %>
</ul>
</div>
<% end %>



<div style="padding-bottom:20px;">
<%= link_to 'Voltar', empresa_conteudos_path(@empresa) %> |
<%= link_to image_tag("/assets/shared/editar.png", :border=>0, :alt=> 'Editar', :title => 'Editar'), edit_empresa_conteudo_path(@empresa, @conteudo) %>
</div>


  <div class="caixaesquerda">
<p>
  <b>Titulo:</b>
  <%= @conteudo.titulo %>
</p>

<p>
  <b>Subtitulo:</b>
  <%= @conteudo.subtitulo %>
</p>

<p>
  <b>Categoria:</b>
  <%= @conteudo.categoria %>
</p>

<p>
  <b>Descricao:</b>
  <%= @conteudo.descricao.html_safe %>
</p>

<p>
  <b>Endereco:</b>
  <%= @conteudo.endereco %>
</p>
<p>
  <br/><br/>
   <h1>Imagens:</h1><br/>
  
  <b>Médio:</b><br/>
  <%= image_tag @conteudo.imagem.url(:medium) %><br/>
  <b>Thumb:</b><br/>
  <%= image_tag @conteudo.imagem(:thumb) %><br/>
  
  <b>Icone:</b><br/>
  <%= image_tag @conteudo.imagem(:icon) %><br/>
</p>



</div>
  <div class="caixadireita">
    <p>
  <b>Latitude:</b>
  <%= @conteudo.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @conteudo.longitude %>
</p>

<p>
  <b>Ativo:</b>
  <%= @conteudo.ativo %>
</p>

<p>
  <b>Destaque:</b>
  <%= @conteudo.destaque %>
</p>

<p>
  <b>Social:</b>
  <%= @conteudo.social %>
</p>

<p>
  <b>URL:</b>
  <%= @conteudo.url %>
</p>
<p>
  <br/>
  <h1>Celula imagens:</h1><br/>
  <b>Médio:</b><br/>
  <%= image_tag @conteudo.row_imagem.url(:medium) %><br/>
  <b>Thumb:</b><br/>
  <%= image_tag @conteudo.row_imagem(:thumb) %><br/>
</p>
</div>

</div>
