<%= form_for(@device) do |f| %>
  <% if @device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
      <% @device.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :deviceToken %><br />
    <%= f.text_field :deviceToken %>
  </div>
  <div class="field">
    <%= f.label :empresaToken %><br />
    <%= f.text_field :empresaToken %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
