<p id="notice"><%= notice %></p>

<p>
  <b>Devicetoken:</b>
  <%= @device.deviceToken %>
</p>

<p>
  <b>Empresatoken:</b>
  <%= @device.empresaToken %>
</p>


<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
