<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="caixaesquerda">
  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :cpf %><br />
    <%= f.text_field :cpf %>
  </div>
  <div class="field">
    <%= f.label :rg %><br />
    <%= f.text_field :rg %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :senha %><br />
    <%= f.password_field :senha %>
  </div>
  <div class="field">
    <%= f.label :telefone %><br />
    <%= f.telephone_field :telefone %>
  </div>
  </div>
  
  <div class="caixadireita">
  <div class="field">
    <%= f.label :tipo %><br />
    <%= f.select :tipo, [['Usuário', 'usuario'], ['Administrador','administrador'], ['Contratante','contratante']] %>
  </div>
  <%if @empresas %>
    <div class="field">
      <%= f.label :empresa_id %><br />
      <%= f.select :empresa_id, @empresas.map{ |c| [c.nome, c.id] },:include_blank => true %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
<% end %>
