<h1  style="margin-left:40%;margin-bottom:50px;">Editar usuario</h1>

<div style="margin-left:30%;">
<%= render 'form' %>
</div>

<div  class="page-footer" style="margin-left:30%;width:200px;">
<%= link_to 'Ver', @usuario %> |
<%= link_to 'Voltar', usuarios_path %>
</div>
