<div class="page-header">
  <h1 style="margin-left:40%;margin-bottom:50px;">Lista de usuários</h1>
  
</div>

<div class="page-content">
  <div class="page-table">
    <table id="content-table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Telefone</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @usuarios.each do |usuario| %>
            <tr>
                <td  style="width:30%;"><%= usuario.nome %></td>
                <td  style="width:30%;"><%= usuario.email %></td>
                <td><%= usuario.telefone %></td>
                <td><%= link_to image_tag("/assets/shared/show.png", :border=>0), usuario %></td>
                <td><%= link_to image_tag("/assets/shared/editar.png", :border=>0), edit_usuario_path(usuario) %></td>
                <td><%= link_to image_tag("/assets/shared/remover.png", :border=>0), usuario, confirm: 'Você tem certeza?', method: :delete %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
    <div class="page-footer">
        <%= link_to image_tag("/assets/shared/adicionar.png", :border=>0 , :alt => 'Adicionar nova empresa', :title => ''), new_usuario_path %>
    </div>
</div>


