<h1 style="margin-left:40%;margin-bottom:50px;">Novo usuário</h1>

<div style="margin-left:25%;">
<%= render 'form' %>
</div>

<div  class="page-footer" style="margin-left:25%;width:200px;">
<%= link_to 'Voltar', usuarios_path %>
</div>
