<div class="page-header">
  <h1 style="margin-left:40%;margin-bottom:50px;">Lista de usuários</h1>
</div>

<p id="notice"><%= notice %></p>
<div style="margin-left:30%;">
<p>
  <b>Nome:</b>
  <%= @usuario.nome %>
</p>

<p>
  <b>Cpf:</b>
  <%= @usuario.cpf %>
</p>

<p>
  <b>Rg:</b>
  <%= @usuario.rg %>
</p>

<p>
  <b>Email:</b>
  <%= @usuario.email %>
</p>

<p>
  <b>Senha:</b>
  <%= @usuario.senha %>
</p>

<p>
  <b>Telefone:</b>
  <%= @usuario.telefone %>
</p>

<div  class="page-footer" style="padding-top:10px;width:200px;">

<%= link_to 'Editar', edit_usuario_path(@usuario) %> |
<%= link_to 'Voltar', usuarios_path %>
</div>
</div>