


<%= form_for(@empresa) do |f| %>
  <% if @empresa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@empresa.errors.count, "error") %> Erro ao salvar:</h2>

      <ul>
      <% @empresa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="caixaesquerda">
  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :cnpj %><br />
    <%= f.text_field :cnpj %>
  </div>
  <div class="field">
    <%= f.label :telefone %><br />
    <%= f.telephone_field :telefone %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :identificador %><br />
    <%= f.text_field :identificador %>
  </div>
  <div class="field">
    <%= f.label :token %><br />
    <%= f.text_field :token %>
  </div>
  </div>
  
  <div class="caixadireita">
   <div class="field">
    <%= f.label :twitter %><br />
    <%= f.text_field :twitter %>
  </div>
   <div class="field">
    <%= f.label :facebook %><br />
    <%= f.text_field :facebook %>
  </div>
  <div class="field">
    <%= f.label :c2dm_email %><br />
    <%= f.text_field :c2dm_email %>
  </div>
  <div class="field">
    <%= f.label :c2dm_registration_id %><br />
    <%= f.text_field :c2dm_registration_id %>
  </div>
  <div class="field">
    <%= f.label :c2dm_password %><br />
    <%= f.password_field :c2dm_password %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
<% end %>
