<h1 style="margin-left:40%;margin-bottom:50px;">Editar empresa</h1>

<div style="padding-bottom:10px;margin-left:30%;">
<%= render 'form' %>
</div>

<div  class="page-footer"  style="margin-left:30%;padding-top:10px;width:200px;">
<%= link_to 'Ver', @empresa %> |
<%= link_to 'Voltar', empresas_path %>
</div>
