<div class="page-header">
  <h1 style="margin-left:40%;margin-bottom:50px;">Lista de empresas</h1>
  
</div>

<div class="page-content">
  <div class="page-table">
    <table id="content-table">
      <thead>
        <tr>
          <th class="tl_nome" style="width:88%;">Nome</th>
          <th style="width:4%;"></th>
          <th style="width:4%;"></th>
          <th style="width:4%;"></th>
        </tr>
      </thead>
      <tbody>
        <% @empresas.each do |empresa| %>
          <tr>
            <td><%= empresa.nome %></td>
            <td><%= link_to image_tag("/assets/shared/show.png", :border=>0, :alt=> 'Mostrar', :title => 'Mostrar Conteudo'), empresa %></td>
            <td><%= link_to image_tag("/assets/shared/editar.png", :border=>0, :alt=> 'Editar', :title => 'Editar'), edit_empresa_path(empresa) %></td>
            <td><%= link_to image_tag("/assets/shared/remover.png", :border=>0 , :alt => 'Remover', :title => 'Remover'), empresa, confirm: 'Você tem certeza? ', method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="page-footer">
    <%= link_to image_tag("/assets/shared/adicionar.png", :border=>0 , :alt => 'Adicionar nova empresa', :title => 'Adicionar nova empresa'), new_empresa_path %>
  </div>
</div
