<div class="page-header">
	<h1 style="margin-left:40%;margin-bottom:50px;">Nova empresa</h1>
</div>



<div class="page-form" style="margin-left:30%;">
	<%= render 'form' %>

<div class="page-footer" style="margin-left:22%;float:left;">
<%= link_to 'Voltar', empresas_path %> 
</div>


</div>

