
<div class="page-header">
	<h1 style="margin-left:40%;margin-bottom:50px;">Dados Cadastrais</h1>
</div>

<div style="margin-left:30%;width:500px;height:30px;">
<div  class="page-footer" style="padding-bottom:10px;float:left;">
<%= link_to 'Conteudos', empresa_conteudo_path(@empresa)[0..-2] %> 
</div>
<div style="float:left;padding-left:10px;display:block;">
</div>
<p id="notice"><%= notice %></p>
</div>
<div style="margin-left:30%;width:500px;border:1px solid #999;padding:10px;">
<p>
  <b>Nome:</b>
  <%= @empresa.nome %>
</p>

<p>
  <b>Cnpj:</b>
  <%= @empresa.cnpj %>
</p>

<p>
  <b>Telefone:</b>
  <%= @empresa.telefone %>
</p>

<p>
  <b>Email:</b>
  <%= @empresa.email %>
</p>

<p>
  <b>Identificador:</b>
  <%= @empresa.identificador %>
</p>

<p>
  <b>Apple token:</b>
  <%= @empresa.identificador %>
</p>
<p>
  <b>Twitter:</b>
  <%= @empresa.twitter %>
</p>
<p>
  <b>Facebook:</b>
  <%= @empresa.facebook %>
</p>
<p>
  <b>C2DM email:</b>
  <%= @empresa.c2dm_email %>
</p>

<p>
  <b>C2DM registration id:</b>
  <%= @empresa.c2dm_registration_id %>
</p>


</div>