#table {
  float : left;
  width : 80%;
  margin-top:15px;
}

#table-filter {
  float : left;
  width : 20%;
  margin-top:20px;
}

#bar {
  float : left;
  width : 80%;
  margin-top:15px;
}

#bar-filter {
  float : left;
  width : 20%;
  margin-top:20px;
}

#table-slider-container {
  margin-left: 20%;
  
}

#table-slider-label {
  float : left;
  color: #717277;
  font-family: HelveticaNeueLT;
  margin-top: -7px;
  height:20px;
  padding-right:10px;
}

#table-slider {
  float : left;
  width : 93%;
}


#slider_y {
  float : left;
  margin-left : 10px;
  margin-top : 40px;
  height : 250px;
}


#draggable { 
  width: 150px; 
  height: 50px; 
  padding: 0.5em; 
  z-index : 3;
}
#tabs{width:96%;float: left;text-align: center;margin-top: 20px;margin-bottom: 20px; margin-left: 2%;margin-right: 2%;}
#sla{padding:10px;}
#metric{padding:10px;}
#applications-box{padding:10px;}
#loadButton{margin-top:10px;margin-left: 10px;margin-bottom: 10px;}
#new{
    border: 1px black solid;
    padding:10px;
    box-shadow: 2px 2px black;
    text-decoration: none;
    background: white;
}
#dashboard-container{
    left:50%;
    width:98%;
    margin-left: -49%;
    position: absolute;
    text-align: left;
    margin-top: 50px;
    background: #dedede;
    border: #999999 1px solid;

}
#dashboard-header{
    background: url(textura_topo.jpg) repeat-x;
    color: #fff;
    font-size:30px;
    padding: 15px;
    text-align: center;
}
#dashboard-filter{
  margin: 2%;
  background: url(bg_loader.png)repeat;
  
}
.ui-widget-header{
  background: #5baddc !important;
  border: 1px solid #4684a8 !important;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{
  color:#000 !important;
}
#min{
  float:left;
}
#max{
  float:right;
}
#variable{
  height:30px;
  width:76%;
  margin-left: 24%;
}
#legend{
  float: left;
  height: 42px;
  width: 20%;
}
#zero{
  float:left;
  height:20px;
  width: 40px;
  background: white;
  padding: 5px;
  margin-left: 5px;
}
#zerofive{
  float:left;
  height:20px;
  width: 40px;
  background: none repeat scroll 0 0 rgba(255, 127, 36, 0.667);
  padding: 5px;
  margin-left: 5px;
}
#one{
  float:left;
  height:20px;
  width: 40px;
  background: none repeat scroll 0 0 #FF7F24;
  padding: 5px;
  margin-left: 5px;
}
#loader{
top:160px;
left: 50%;
position: absolute;
}