﻿<div id="page-top-outer">
		<div id="page-top">
			<div id="logo">
			</div>
			<div id="menu">
 			<%= link_to 'Usuários', usuarios_path %>
			<%= link_to 'Empresas', empresas_path %>
  			</div>
			<div id="logout">
			<%= button_to "Sair", {:controller => "sessions", :action => 'destroy', :id => 1}, :confirm => "Tem certeza que quer sair?", :method => :delete %>
			</div>
		</div>
	</div>
	
	

			
		