<!DOCTYPE html>
<html>
	<head>
		<title>Skynet</title>
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= csrf_meta_tags %>
	</head>
	<body><%if session[:usuario_id]%><% usuario = Usuario.find_by_id(session[:usuario_id]) %><%if usuario.tipo == 'administrador'%><%= render "layouts/header" %><%else%><%= render "layouts/header_user" %><%end%>
		<%else%>
			<%= render "layouts/header_unloged" %>
		<%end%>
		<div id="content-outer">
			<div id="content">
				<%= yield %>
			</div>
		</div>
		<%= render "layouts/footer" %>
		<%= javascript_include_tag "application" %>
	</body>
</html>
